/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.7.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package com.santander.application.presentation;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import com.santander.application.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class TributaryCertificatesControllerApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /v1/investments/customers/certificates
        **/
        rest()
            .post("/v1/investments/customers/certificates")
                .description("")
                .id("v1InvestmentsCustomersCertificatesPostApi")
                .produces("application/json")
                .outType(ResponseTributaryCertificate.class)
                .consumes("application/json")
                .type(RequestTributaryCertificate.class)
                
                .param()
                    .name("requestTributaryCertificate")
                    .type(RestParamType.body)
                    .required(false)
                    .description("CreateAutomaticPaymentRequest")
                .endParam()
                .to("direct:v1InvestmentsCustomersCertificatesPost");
        
    }
}
